-e git+https://github.com/percebus/algorithmic-exercises@3cd4ac509277adbc9fc561b6555f96ecce31d69d#egg=algorithmic_exercises
annotated-types==0.7.0
argcomplete==3.7.2
astroid==3.3.8
click==8.4.2
coverage==7.6.10
dill==0.3.9
docutils==0.21.2
filelock==3.32.3
flake8==7.1.1
gherkin-official==29.0.0
gil==1.25.0.0
iniconfig==2.0.0
isort==5.13.2
logger==1.4
logging==0.4.9.6
logging-config==1.0.4
Mako==1.3.5
MarkupSafe==2.1.5
mccabe==0.7.0
more-itertools==10.5.0
mypy==1.14.1
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==2.1.1
packaging==24.1
pandas==2.2.2
pandas-stubs==2.2.3.241009
parse==1.20.2
parse_type==0.6.3
pipx==1.16.7
platformdirs==4.3.6
pluggy==1.5.0
pycodestyle==2.12.1
pydantic==2.9.0
pydantic-settings==2.4.0
pydantic_core==2.23.2
pyflakes==3.2.0
PyHamcrest==2.1.0
pylint==3.3.3
pyright==1.1.391
pytest==7.4.4
pytest-bdd==8.1.0
pytest-cov==5.0.0
pytest-doctestplus==1.4.0
pytest-dotenv==0.5.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
rst2md==0.1.1
ruff==0.12.4
six==1.16.0
tomlkit==0.13.2
types-pytz==2024.2.0.20241003
typing_extensions==4.12.2
tzdata==2024.1
userpath==1.9.2
